<div class="container">


  <ul class="nav nav-tabs">

     <li class="nav-item"><a class="nav-link active" href="#study" data-toggle="tab">学習状況</a></li>

     <li class="nav-item"><a class="nav-link" href="#career" data-toggle="tab">経歴</a></li>

     <li class="nav-item"><a class="nav-link" href="#qualification" data-toggle="tab">資格</a></li>

     <li class="nav-item"><a class="nav-link" href="#self_pr" data-toggle="tab">自己PR</a></li>

  </ul>

  <div class="tab-content py-4">

    <div id="study" class="tab-pane active">

      <table class="table table-striped container">

        <thead>

          <tr class="row">

            <th class="col-md-2" scope="col">学習テーマ</th>

            <th class="col-md-10" scope="col">学習状況</th>

          </tr>

        </thead>

        <tbody>

          <tr class="row">

            <th class="col-md-2" scope="row">HTML,CSS</th>

            <td class="col-md-10"><p>chromのDevToolを利用してデザインの微調整が出来る。</p>

            <p>id や classを付与して目的のスタイルを充てることができる。</p></td>

          </tr>

          <tr class="row">

            <th class="col-md-2" scope="row">Ruby</th>

            <td class="col-md-10">Rubyで書かれたソースを読むことができる。オブジェクト指向び概要理解。</p>

          </tr>

           <tr class="row">

            <th class="col-md-2" scope="row">Rails</th>

            <td class="col-md-10">WEBアプリを作る上において基本的な流れを理解しました。</p>

            <p>マイグレーション、ルーティング、パーシャル、関数の自作、モデルのリレーション等</p>

          </tr>

          

           <tr class="row">

            <th class="col-md-2" scope="row">git</th>

            <td class="col-md-10">

            <p>gitのコマンドの基礎知識。add,commit,push , status, logの確認</p>

          </tr>

          

           <tr class="row">

            <th class="col-md-2" scope="row">JavaScript</th>

            <td class="col-md-10">

            <p>DOM操作,jQqueryの機能をを調査して実装できます。</p>

          </tr>

          

           <tr class="row">

            <th class="col-md-2" scope="row">その他</th>

            <td class="col-md-10">

            <p>英語のドキュメントでも、ツール等を使いながら読み込むことができます。</p>

          </tr>

        </tbody>

      </table>

     </div>

     <div id="career" class="tab-pane">

        <p>〇〇会社にて経理担当。会計の知識が必要でしたので、独学で簿記3級を取得しました。経理はしたことがなかったのですが、仕事で必要でしたので、自分で勉強して資格も取得しました。</p>

        <p>仕事でわからない点は自主的に調査して、学んでいきたいと思います。</p>

     </div>

     <div id="qualification" class="tab-pane">

        <p>簿記3級</p>

        <p>普通自動車運転免許</p>

        <p>TOEIC700点</p>

     </div>

     <div id="self_pr" class="tab-pane">

        <p>これまで総務として、就業規則の整備、備品管理、社内報作成に携わってきました。その中でプログラミングの知識があったほうがより仕事もスムーズにこなすことができると痛感し、昨年からオンラインのパソコンスクールに通い、Railsとそれに伴う環境について勉強しました。</p>

        <p>現在も、独学ですが自分で簡単なWEBアプリを作っています。</p>

     </div>

  </div>

</div>